/*
YELLOW SWATCH    rgb(245, 179, 46);
BLUE SWATCH      rgb(38, 77, 154);
*/

@charset "utf-8";

body {
    background-color: rgb(240, 240, 240);
}

.MainAppDiv {
    width: 800px;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
}

