/*
YELLOW SWATCH    rgb(245, 179, 46);
BLUE SWATCH      rgb(38, 77, 154);
*/

.homeTextDiv {
    width: 80%;
    margin: 2% auto;
}

.homeTextDiv h1 {
    text-align: center;
}

.homeTextDiv h2, .homeTextDiv h3 {
    text-align: left;
    padding: 0px 20px;
}

.homeTextDiv p {
    text-align: left;
    font-size: 12pt;
    padding: 0px 20px;
}