/*
YELLOW SWATCH    rgb(245, 179, 46);
BLUE SWATCH      rgb(38, 77, 154);
*/

.profileDiv {
    width: 80%;
    margin: 2% auto;
}

img {
    width: 80%;
    margin: auto;
}

.profileBox {
    width: 100%;
}

.profilePicture {
    width: 50%;
    float: left;
}

.profileInformation {
    width: 50%;
    float: left;
}

 h1 {
    text-align: center;
}

h2, h3 {
    text-align: left;
    padding: 0px 20px;
}

p {
    text-align: left;
    font-size: 12pt;
    padding: 0px 20px;
}

button {
    width: 100%;
    background-color: rgb(245, 179, 46);
    color: white;
    padding: 12px 20px;
    margin-top: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14pt;
}
  
button:hover {
    background-color: rgb(38, 77, 154);
}