/*
YELLOW SWATCH    rgb(245, 179, 46);
BLUE SWATCH      rgb(38, 77, 154);
*/

.registerFormDiv {
    width: 80%;
    margin: 3% auto;
}

.registerFormDiv h1{
    text-align: center;
}

label {
    margin-top: 20px;
    color: rgb(38, 77, 154);
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
button {
    width: 100%;
    background-color: rgb(245, 179, 46);
    color: white;
    padding: 12px 20px;
    margin-top: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14pt;
}
  
button:hover {
    background-color: rgb(38, 77, 154);
}