/*
YELLOW SWATCH    rgb(245, 179, 46);
BLUE SWATCH      rgb(38, 77, 154);
*/

.timerDiv {
    width: 100%;
}

.timerDiv h1 {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    text-align: center;
    color: rgb(245, 179, 46);
}



.timerDiv h3 {
    margin: 0;
    padding-top: 20px;
    text-align: center;
}
